
{% load static %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Montserrat:wght@500&display=swap" rel="stylesheet"> 
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon_io/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon_io/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon_io/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'images/favicon_io/site.webmanifest' %}">

<meta charset="UTF-8">
<meta name="description" content="Bienvenid@s a mi cajón de arena, donde aprendo desarrollo web y pongo todo en práctica">
<meta name="keywords" content="HTML, CSS, JavaScript, dadaasdcfaw, personal, website, Python, ingeniero, django">
<meta name="author" content="Jose Barros Ribademar">