{% load i18n %}
{% load static %}
<div id="lang_form">
    <div id="img_cont_lang">
        <img src="{% static 'images/globe.png' %}" alt="globe_icon">
    </div>
    <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="" />
        <select name="language" onchange="this.form.submit()">
            <!--{% get_language_info_list for LANGUAGES as languages % !-->
            {% for language in LANGUAGES %}
                <option value="{{ language.0 }}"
                    {% if language.0 == LANGUAGE_CODE %}
                        selected
                    {% endif %}>
                    {{ language.1 }}
                </option>
            {% endfor %}
        </select>
    </form>
</div>